* {
  box-sizing: border-box;
}

body {
  background-color: #343A40;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  /*color: white;*/
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  background-color: white;
  border-color: white;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
}

.addTableBtn {
  position: relative;
  margin-left: 45%;
  padding: 10px;
  font-weight: bold;
  color: #00C4C1;
  float: left;
}

.table {
  position: relative;
  margin-top: 0px;
  border: 10px solid #00BEBE;
  border-radius: 15px;
  float: left;
}

.tableInvisible {
  position: relative;
  border: 10px solid rgba(0,0,0,0);
  border-radius: 5px;
  margin: 100px;
  float: left;
}

.inputInv {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

input {
  padding: 10px;
}

.tableWrapper {
  position: relative;
  border: 1px solid red;
  border-radius: 15px;
  width: 400px;
  margin: 20px;
}

.tableWrapper h1 {
  color: red;
}

.topRow {
  background-color: #00BEBE;
}

.topRow input {
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
}

.addRowBtn {
  margin: auto;
  width: 100%;
}

#tableBarWrap {
  width: 70%;
  position: relative;
  margin: auto;
}
#tableBar {
  position: relative;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  margin: auto;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.display {
  border: 1px solid red;
  height: 800px;
  width: 100%;
}